{% extends "layouts/primary.html" %}

{% block title %} {% endblock %}

{% block styles %} {% endblock %}

{% block content %}
<main class="app">
    <div class="boxed">
        {% include "components/navbar.html" %}
        <section class="app-middle">
            <div class="col">
                <h3 class="time" id="time">--:-- <span id="am-pm">--</span></h3>
                <h4 class="date" id="date">--, --</h4>
                <h6 class="timezone">
                    <span id="place">--/--</span> - <span id="timezone">--/--</span> - <span id="lon">--</span>, <span
                        id="lat">--</span>
                </h6>
            </div>
            <div class="details" id="today-details">
                <img id="icon" src="">
                <h3 class="detail"><b>Day</b><span id="today">--</span></h3>
                <h3 class="detail"><b>Temperature</b><span id="temp">--</span></h3>
                <h3 class="detail"><b>Humidity</b><span id="humidity">--</span></h3>
                <h3 class="detail"><b>Pressure</b><span id="pressure">--</span></h3>
                <h3 class="detail"><b>Wind Speed</b><span id="wind_speed">--</span></h3>
                <h3 class="detail"><b>Sunrise</b><span id="sunrise">--</span></h3>
                <h3 class="detail"><b>Sunset</b><span id="sunset">--</span></h3>
            </div>
        </section>
        <section class="app-bottom" id="weekly-forecast"></section>
        {% if request.session.auth %}
        <select name="locations" id="locations" class="select-location"></select>
        {% endif %}
    </div>
</main>
{% endblock %}

{% block scripts %}
{% if request.session.auth %}
<script>
    function listing() {
        let output = document.querySelector("#locations")
        fetch(ApiUrl("locations")).then((response) => {
            return response.json()
        }).then((data) => {
            console.log(data);
            if (data.length != 0) {
                let template = `<option value="">Select</option>`
                data.forEach((item) => {
                    template += `<option value="${item.name}">${item.name}</option>`
                })
                output.innerHTML = template
            } else {
                output.innerHTML = `<option value="">No Locations</option>`
            }
        })
    }
    listing()

    on("change", "#locations", (e) => {
        let location = e.target.value
        get_location_weather(location)
    })
</script>
{% endif %}
<script src="static/js/weather.js"></script>
{% endblock %}