{% extends "layouts/primary.html" %}

{% block title %} {% endblock %}

{% block styles %} {% endblock %}

{% block content %}

<main>
    <main class="app">
        <div class="boxed">
            {% include "components/navbar.html" %}
            <section class="app-middle">
                <div class="locations">
                    <form action="" id="create" class="form">
                        <h4>Add Locations</h4>
                        <div id="errors"></div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-field" id="name" name="name">
                            <input type="hidden" class="form-field" id="id" name="id">
                        </div>
                        <div class="form-group">
                            <label for="is_active">Active</label>
                            <input type="checkbox" id="is_active" name="is_active">
                        </div>
                        <button type="submit" class="btn" id="btn">Create</button>
                    </form>
                    <ul id="listing" class="list"></ul>
                </div>
            </section>
        </div>
    </main>
    {% endblock %}

    {% block scripts %}
    <script>
        function card(item) {
            return `<li class="list-item">${item.name} - ${(item.is_active) ? 'Active' : 'Inactive'}
            <button data-id="${item.id}" class="updateBtn">Update</button>
            <button data-id="${item.id}" class="deleteBtn">Delete</button>
        </li>`;
        }
        function listing() {
            let output = document.querySelector("#listing")

            fetch(ApiUrl("locations")).then((response) => {
                return response.json()
            }).then((data) => {
                if (data.length != 0) {
                    let template = ""
                    data.forEach((item) => {
                        template += card(item)
                    })
                    output.innerHTML = template
                } else {
                    output.innerHTML = "<li>No records</li>"
                }

            }).catch((error) => {
                document.querySelector("#errors").innerText = error
            }).finally(() => {

            })
        }
        listing()

        on("click", ".updateBtn", function (e) {
            e.preventDefault()
            let target = e.target
            let id = target.getAttribute("data-id")
            let form = document.querySelector(".form");
            let btn = document.querySelector("#btn");
            form.setAttribute("id", "update")
            target.disabled = true
            target.innerText = "Loading..."

            fetch(ApiUrl("locations/" + id), {
                method: "GET",
            }).then((response) => {
                return response.json()
            }).then((item) => {
                console.log(item);
                document.querySelector("#id").value = item.id
                document.querySelector("#name").value = item.name
                document.querySelector("#is_active").checked = item.is_active
            }).catch((error) => {
                document.querySelector("#errors").innerText = error
                console.log(error);
            }).finally(() => {
                target.innerText = "Update"
                target.disabled = false
                btn.innerText = "Update"
            })
        })

        on("submit", "#update", function (e) {
            e.preventDefault()
            let id = document.querySelector("#id").value;
            let name = document.querySelector("#name").value;
            let is_active = document.querySelector("#is_active").checked;
            let btn = document.querySelector("#btn");
            let form = document.querySelector(".form");

            if (name == "") {
                alert("Name is required!")
            } else {
                btn.innerText = "Loading..."
                btn.disabled = true
                fetch(ApiUrl("locations/" + id), {
                    method: "PATCH",
                    body: JSON.stringify({
                        name, is_active
                    }),
                    headers: new Headers({
                        "Content-Type": "application/json",
                    }),
                }).then((response) => {
                    return response.json()
                }).then((response) => {
                    console.log(response);

                }).catch((error) => {
                    document.querySelector("#errors").innerText = error
                }).finally(() => {
                    btn.innerText = "Create"
                    btn.disabled = false
                    form.setAttribute("id", "create")
                    form.reset()
                    listing()

                })
            }
        })

        on("submit", "#create", function (e) {
            e.preventDefault()
            let form = document.querySelector("#create");
            let name = document.querySelector("#name").value;
            let is_active = document.querySelector("#is_active").checked;
            let btn = document.querySelector("#btn");
            let output = document.querySelector("#listing")

            if (name == "") {
                alert("Name is required!")
            } else {
                btn.innerText = "Loading..."
                btn.disabled = true
                fetch(ApiUrl("locations"), {
                    method: "POST",
                    body: JSON.stringify({
                        name, is_active
                    }),
                    headers: new Headers({
                        "Content-Type": "application/json",
                    }),
                }).then((response) => {
                    return response.json()
                }).then((item) => {
                    form.reset()
                }).finally(() => {
                    btn.innerText = "Create"
                    btn.disabled = false
                    listing()

                })
            }
        })

        on("click", ".deleteBtn", function (e) {
            e.preventDefault()
            if (confirm("Do you really want to delete this location?")) {
                let target = e.target
                let id = target.getAttribute("data-id")
                fetch(ApiUrl("locations/" + id), {
                    method: "delete",
                }).then((response) => {
                    return response.json()
                }).then((response) => {
                    console.log(response);
                }).catch((error) => {
                    document.querySelector("#errors").innerText = error
                }).finally(() => {
                    listing()
                })
            }
        })
    </script>
    {% endblock %}